:root {
  --primary-color: #a83c0d;
  --secondary-color: #204a15;
  --flash-bg-color: #2455db;
  --flash-color: #f5ef40;
  --white-color: #fff;
  --hp-color: #c92347
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 3rem;
}

input[type=radio] {
  visibility: hidden;
}

input[type=radio]+label {
  padding: 0.6rem 1.5rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.4rem;
  cursor: pointer;
  color: var(--primary-color)
}

input[type=radio]:checked+label {
  background-color: var(--primary-color);
  color: var(--white-color);
}

button {
  background-color: var(--secondary-color);
  color: var(--white-color);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

input[type=radio]+label:hover, button:hover {
  opacity: 0.8;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

#start-button {
  padding: 2rem 9rem;
  border-radius: 1.5rem;
  font-size: 4rem;
}

#game-menu {
  visibility: hidden;
}

#hps {
  color: var(--hp-color)  
}

#flash {
  font-size: 1.8rem;
  color: var(--flash-bg-color);
}

#main-container {
  position: relative;
}

#game-over-frame {
  display: none;
}

#game-over-menu {
  height: 100%;
  gap: 0.8rem
}

#game-over-menu-header {
  text-align: center;
  font-size: 3rem;
} 

#menu-button {
  font-size: 2rem;
  padding: 0.6rem 2.5rem;
}

#hps-flash {
  display: flex;
  gap: 0.6rem
}

#game-stats-container {
  display: grid;
  grid-template-columns: 10rem 15rem 7rem;
  gap: 2.3rem;
}

#game-stats-container div {
  display: flex;
  align-items: center;
  gap: 0.7rem
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.uppercase {
  text-transform: uppercase;
}

.main-stats {
  font-size: 2.4rem;
}

.pre-game-menu-item {
  margin-bottom: 2rem;
}

.pre-game-menu-label {
  font-size: 1.6rem;
  text-align: center;
}

.pre-game-select {
  margin-left: -1.3rem;
}

.frame {
  position: absolute;
  top: 3rem;
  width: 94.5%;
  min-height: 15rem;
  min-width: 32rem;
  background-color: var(--white-color);
  z-index: 99;
  padding: 1rem;
}

.flash-screen {
  position: absolute;
  background-color: var(--flash-bg-color);
  color: var(--flash-color);
  opacity: 0.4;
  font-size: 5rem;
  z-index: 2;
}